
/* -----------------FOOTER-------------- */

.footer {

    background-color: rgb(208, 227, 241);
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

.footer__diccionario {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;

}


.footer__formulario--fieldset {
    display: flex;
    flex-direction: column;
}

.footer__diccionario>a {
    color: rgb(61, 73, 86);
}

.biografia{
    text-align: center;
    padding: 4rem;
}